body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    box-sizing: border-box;
    padding-top: 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;

}

#cat-container {
    margin: 20px 0;
    min-height: 200px; /* Місце під картинку */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    border-radius: 10px;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}